# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Test coverage
.coverage

# next.js build output
.next
dist/

# macos
.DS_Store

# IntelliJ
.idea

# git
**.orig

*.tgz

.history/
.nxdeps.json